<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_ras.css' %}">
    <title>Расписание</title>
</head>
<body>
    <div class="line">
        <div class="log">
            <img  class="foto" src="{% static "logo_trial-removebg-preview.jpg" %}" alt="">
        </div>
        <h1>Расписание</h1>
        <div class="butt">
            <a href="{% url 'home' %}"><button>Главная</button></a>
            <a href="{% url 'grabe' %}"><button>Оценки</button></a>
            <a href="{% url 'raspisania' %}"><button>Расписания</button></a>
            <a href="{% url 'profile' %}"><button>Профиль</button></a>
            <a href="{% url 'login' %}"><button>Выход</button></a>
        </div>
    </div>
    <div class="main">
        <div class="info1">
            <div class="text1">
                <h1>Расписание на 21.10.2024</h1>   
                <p><span>1.</span>Математика</p>
                <p><span>2.</span>Гоеграфия</p>
                <p><span>3.</span>Государственный</p>
                <p><span>4.</span>Химия</p>  
                <p><span>5.</span>Литература</p>
            </div>
        </div>
        <div class="info1">
            <div class="text1">
                <h1>Расписание на 22.10.2024</h1>   
                <p><span>1.</span>Математика</p>
                <p><span>2.</span>Гоеграфия</p>
                <p><span>3.</span>Государственный</p>
                <p><span>4.</span>Химия</p>  
                <p><span>5.</span>Литература</p>
            </div>
        </div>
        <div class="info1">
            <div class="text1">
                <h1>Расписание на 23.10.2024</h1>   
                <p><span>1.</span>Математика</p>
                <p><span>2.</span>Гоеграфия</p>
                <p><span>3.</span>Государственный</p>
                <p><span>4.</span>Химия</p>  
                <p><span>5.</span>Литература</p>
            </div>
        </div>
        <div class="info1">
            <div class="text1">
                <h1>Расписание на 24.10.2024</h1>   
                <p><span>1.</span>Математика</p>
                <p><span>2.</span>Гоеграфия</p>
                <p><span>3.</span>Государственный</p>
                <p><span>4.</span>Химия</p>  
                <p><span>5.</span>Литература</p>
            </div>
        </div>
        <div class="info1">
            <div class="text1">
                <h1>Расписание на 25.10.2024</h1>   
                <p><span>1.</span>Математика</p>
                <p><span>2.</span>Гоеграфия</p>
                <p><span>3.</span>Государственный</p>
                <p><span>4.</span>Химия</p>  
                <p><span>5.</span>Литература</p>
            </div>
        </div>
        <div class="info1">
            <div class="text1">
                <h1>Расписание на 26.10.2024</h1>   
                <p><span>1.</span>Математика</p>
                <p><span>2.</span>Гоеграфия</p>
                <p><span>3.</span>Государственный</p>
                <p><span>4.</span>Химия</p>  
                <p><span>5.</span>Литература</p>
            </div>
        </div>
        <div class="info1">
            <div class="text1">
                <h1>Расписание на 27.10.2024</h1>   
                <p><span>1.</span>Математика</p>
                <p><span>2.</span>Гоеграфия</p>
                <p><span>3.</span>Государственный</p>
                <p><span>4.</span>Химия</p>  
                <p><span>5.</span>Литература</p>
            </div>
        </div>
    </div>
</body>
</html>